.content {
  font-size: 1.5rem;
  color: #3a3a3a;
  /* width: 90%; */
  width: 20em !important;
  margin: auto;
  margin-top: 8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}
@media (max-width: 600px) {
  .content {
    margin-top: 2rem;
  }
}
