.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 10%;
  height: 5rem;
  background-color: #c49e7d;
}
.navCheck {
  display: none;
}
.nav {
  height: 55px;
  width: 100%;
  background-color: #c49e7d;
  position: relative;
}

.nav > .navHeader {
  display: inline;
}

.nav > .navHeader > .navTitle {
  display: inline-block;
  font-size: 24px;
  color: papayawhip;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.nav > .navHeader > .navTitle a {
  font-size: 24px;
  color: papayawhip;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
}
.nav > .navBtn {
  display: none;
}

.nav > .navLinks {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .navLinks > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: papayawhip;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.link {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: papayawhip;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.link:hover {
  /* background-color: rgba(218, 209, 209, 0.3); */
  cursor: pointer;
}

.control {
  height: auto;
  background-color: peru;
}
.iconColor {
  color: papayawhip;
  margin: auto 0;
}
.iconColor:hover {
  cursor: pointer;
}
.icon:hover {
  background-color: rgba(218, 209, 209, 0.3);
}
@media (max-width: 600px) {
  .control {
    max-height: 200px !important;
  }
  .nav {
    height: 50px;
  }
  /* .navbar {
    width: 100%;
  } */
  .profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
  }
  .navLinks {
    margin-top: 0;
    display: grid !important;
    /* flex-direction: row; */
    /* justify-content: space-around; */
    /* align-items: flex-start; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    overflow: hidden;

    gap: 5px;
    /* clear: both; */
  }
  .nav > .navBtn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    /* display: none; */
  }
  .link {
    color: papayawhip;
    width: 90px;
    background-color: #c49e7d;
    /* height: 50px; */
    font-size: 16px;
    text-align: center;
    line-height: 1.1rem;
    margin-right: 2px;
    margin-left: 2px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    cursor: pointer;
    /* position: relative; */
    /* float: left; */
    margin-bottom: 170px;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-transform: capitalize;
    text-align: center;
    height: 45px;
    /* margin-right: 10px; */
  }
  .linkButton {
    width: 0;
    height: 0;
    color: papayawhip;
    /* background-color: tomato; */
  }
  .icon {
    color: papayawhip;
    width: 30px;
    height: 70px;
  }

  .icon:hover {
    background-color: papayawhip;
  }
  .nav > .navLinks > a {
    color: papayawhip;
    width: 30px;
    background-color: #c49e7d;
    height: 50px;
    font-size: 16px;
    text-align: center;
    line-height: 1.1rem;
    margin-right: 2px;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-transform: capitalize;
    text-align: center;
  }
  .nav > .navBtn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
    /* margin-bottom: 50px; */
  }
  .nav > .navBtn > label:hover,
  .nav .navCheck:checked ~ .navBtn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .navBtn > label > span {
    display: block;
    width: 25px;
    height: 7px;
    border-top: 2px solid #eee;
    position: relative;
  }
  .nav > .navLinks {
    display: block;
    width: 100%;

    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    background-color: papayawhip;
  }
  .nav > .navLinks > a {
    display: block;
    width: 100%;
  }
  .nav > .navCheck:not(:checked) ~ .navLinks {
    height: 0px;
  }
  .nav > .navCheck:checked ~ .navLinks {
    height: calc(30vh);
    overflow-y: hidden;
  }
}

.navInput {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-color: #c49e7d;
}
.navInput input {
  margin-right: 15px;
  margin-left: 3px;
  padding: 4px;
  border-radius: 5px;
  border-color: #c49e7d;
}
.navInput input:focus {
  outline: none;
}
