.list {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 600px) {
  .list {
    width: 100%;
    margin-right: 170px;
    /* display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

    width: 50%;
    max-width: 10rem;
    margin: 0 auto; */
    /* overflow: hidden; */
  }
}
