.list {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: auto;
}
.block {
  /* display: flex;
  justify-content: space-around; */
  width: 100%;
  position: relative;
  left: 10%;
}
@media (max-width: 900px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .list {
    grid-template-columns: 1fr;
    margin: 0 5px 0 15px;
    /* display: grid;
  
    grid-template-columns: 1fr;
    gap: 10px;

    width: 50%;
    max-width: 10rem;
    
    /* overflow: hidden; */
  }
}
