.top {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 500px;
  background-color: rgb(218, 197, 169);
  height: 70px;
  margin-bottom: 5px;
}
.body {
  max-width: 500px;
  background-color: rgb(218, 197, 169);
  color: white;
  /* min-height: 50px; */
  height: auto;
  margin: 10px auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.body p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  line-height: 1.7rem;
  text-transform: capitalize;
  white-space: pre-line;
  margin-left: 20px;
  /* white-space: pre-wrap; */
}
.top img {
  border-radius: 50%;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.top p {
  /* align-self: flex-end; */
  /* margin-left: 10px; */
  font-family: Georgia, "Times New Roman", Times, serif;
  font: 16px;
  text-transform: capitalize;
  color: white;
}
.cov {
  /* width: 20%; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  /* padding: 10px; */
  /* margin: 10px; */
}
.cov p {
  text-align: center;
  margin-right: 5px;
  margin-top: 5px;
}
.icon {
  width: 35px;
  color: white;
}
.liketext {
  color: white;
  text-align: center;
  margin-bottom: 8px;
  text-transform: capitalize;
}
.iconButton {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: rgb(218, 197, 169);
  border: none;
  margin-bottom: 5px;
  color: rgb(128, 128, 128);
}
.icontop {
  color: rgb(172, 163, 163);
  width: 30px;
  height: 25px;
}
.iconLike {
  color: goldenrod;
  width: 30px;
  height: 25px;
}
