.top {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 400px;
  background-color: #f0e5c7;
  height: 70px;
  margin-bottom: 5px;
  position: absolute;
  top: 22%;
  right: 0;
  transform: translate(-50%, -90%);
  -webkit-transform: translate(-50%, -90%);
  -moz-transform: translate(-50%, -90%);
  -ms-transform: translate(-50%, -90%);
  -o-transform: translate(-50%, -90%);
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 650px) {
  .top {
    /* width: 90vw; */

    left: 50%;
    width: 345px;
    /* margin-top: 130px; */
  }
  .top img {
    width: 50px;
    height: 50px;
  }
  .iconLike {
    height: 20px !important;
    margin-bottom: 10px;
  }
  .icontop {
    height: 20px !important;
    margin-bottom: 10px;
  }
  .liketext {
    margin-bottom: 14px !important;
    font-size: 14px;
  }
  .body p {
    line-height: 25px;
  }
}
.body {
  max-width: 500px;
  background-color: #f0e5c7;
  color: white;
  /*min-height: 50px;
  */
  height: auto;
  margin: 10px auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.body p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  /* line-height: 1.7rem; */
  text-transform: capitalize;
  white-space: pre-line;
  margin-left: 20px;
  /* white-space: pre-wrap; */
}
.top img {
  border-radius: 50%;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.top p {
  /* align-self: flex-end; */
  /* margin-left: 10px; */
  font-family: Georgia, "Times New Roman", Times, serif;
  font: 16px;
  text-transform: capitalize;
  color: white;
}
.cov {
  /* width: 20%; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  /* padding: 10px; */
  /* margin: 10px; */
}
.cov p {
  text-align: center;
  margin-right: 5px;
  margin-top: 5px;
}
.icon {
  width: 35px;
  color: white;
}
.liketext {
  color: white;
  text-align: center;
  margin-bottom: 6px;
  text-transform: capitalize;
}

.iconButton {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: #f0e5c7;
  border: none;
  margin-bottom: 5px;
  color: rgb(128, 128, 128);
}
.icontop {
  color: peru;
  width: 30px;
  height: 25px;
}
.iconLike {
  color: goldenrod;
  width: 30px;
  height: 25px;
}
