.noTop {
  width: 350px;
  height: 50px;
  /* background-color: rgba(210, 188, 152, 0.591); */
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  background-color: rgba(188, 180, 143, 0.55);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.nocameraTop {
  width: 330px;
  height: 100px;
  /*background-color: rgba(210, 188, 152, 0.591);
  */
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  background-color: rgba(188, 180, 143, 0.55);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 370%);
  -webkit-transform: translate(-50%, 370%);
  -moz-transform: translate(-50%, 370%);
  -ms-transform: translate(-50%, 370%);
  -o-transform: translate(-50%, 370%);
}
.nocameraTop p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  line-height: 1.2rem;
  margin: 0 auto;
  color: papayawhip;
}
.abs {
  padding-left: 50px;
  position: absolute;
  left: 20px;
  top: 18px;
}
.noTop p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  line-height: 1.2rem;
  margin: 0 auto;
  color: papayawhip;
  /*left: 0;
  top: 0;
  */
}

.holder {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
@media (max-width: 650px) {
  .holder {
    position: absolute;
    /*top: 190% !important;
    */
    width: 300px;
    bottom: calc(10%);
    display: block;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 20px auto;
    -webkit-transform: translate(-60%, -40%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  .nocameraTop {
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
  }
  .noTop p {
    font-size: 14px;
    display: block;
    padding: 20px;
  }
}
