.flexDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.StyledUl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 800px) {
  .li {
    width: 100%;
  }
  .StyledUl {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    position: absolute;
    top: calc(19%);
  }
}
@media (max-width: 600px) {
  .StyledUl {
    grid-template-columns: 1fr;
    margin: 10px 35px;
  }
}
.classes {
  margin-top: 50px;
}
