.flexDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.top {
  margin: 120px auto;
}
.StyledUl {
  margin: 100px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

@media (max-width: 800px) {
  .StyledUl {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    position: absolute;
  }
}
@media (max-width: 600px) {
  .StyledUl {
    /*grid-template-columns: 1fr;
    margin: 10px 35px;
    */
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 40%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -60%);
  }
}
.classes {
  margin-top: 50px;
}
