.flexDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.pi {
  text-align: center;
  font-size: 27px;
  color: burlywood;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -30%);
  letter-spacing: 2px;
  font-family: Georgia, "Times New Roman", Times, serif;
  -webkit-transform: translate(-50%, -30%);
  -moz-transform: translate(-50%, -30%);
  -ms-transform: translate(-50%, -30%);
  -o-transform: translate(-50%, -30%);
}
.top {
  margin: 120px auto;
}
.StyledUl {
  margin: 150px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

@media (max-width: 800px) {
  .StyledUl {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    position: absolute;
    margin: 100px 50px;
  }
}
@media (max-width: 600px) {
  .StyledUl {
    /*grid-template-columns: 1fr;
    margin: 10px 35px;
    */
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 44%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -60%);
  }
}
.classes {
  margin-top: 50px;
}
