.top {
  min-width: 400px;
  max-width: 600px;
  background-color: rgba(219, 156, 55, 0.803) !important;
}

.popButton {
  text-align: center;
  line-height: 1.5rem;
  border: none;
  border-radius: none !important;
  -webkit-border-radius: none !important;
  -moz-border-radius: none !important;
  -ms-border-radius: none !important;
  -o-border-radius: none !important;

  text-transform: capitalize;
  font-family: "Poetsen small", sans-serif;
  font-weight: 500;
  background-color: none;
  color: papayawhip;
  background-color: transparent;
  width: auto;
  font-weight: 600;
}

@media (max-width: 650px) {
  /* .popButton {
    height: auto;
    width: auto;
    margin-top: 3px;
    background-color: #c49e7d !important;
    border: none;
    font-size: 19px !important;
    color: papayawhip;
    font-weight: 600 !important;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: none !important;
  } */
  /* .popButton:active {
    border: #c49e7d;
    box-shadow: 0;
    outline: none !important;
  }
  .popButton:focus {
    border: #c49e7d;
    box-shadow: 0;
  }
  .popButton:hover {
    border: #c49e7d;
  } */
}
.header {
  text-transform: capitalize;
  color: #c49e7d;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700 !important;
  line-height: 1.2rem;
  text-align: center;
  background-color: papayawhip !important;
}
.body {
  font-weight: 600;
  line-height: 1.2rem;
  text-align: center;
}
.link {
  width: 100%;
  border-bottom: 1px solid papayawhip;
  cursor: pointer;
}

.link a {
  color: #c49e7d;
  text-transform: capitalize;
  font-size: 18px;
}
.link a:hover,
.link a:active {
  text-decoration: none;
  color: papayawhip;
}
.bell {
  width: 23px;
  color: #ccc;
  margin-left: 10px;
}
.bellAlert {
  width: 23px;
  color: #ccc;
  animation-timing-function: cubic-bezier(12, 12, 12, 12);
  animation-duration: 4000ms;
  animation-iteration-count: 100;
  animation-name: blink;
  -webkit-animation-name: blink;
  margin-left: 10px;
}
.banned {
  filter: sepia(90%);
  -webkit-filter: sepia(90%);
  color: #c49e7d;
  text-transform: capitalize;
  font-size: 18px;
}
@keyframes blink {
  0% {
    color: red;
  }
  15.0% {
    color: #ccc;
  }
  30.0% {
    color: red;
  }
  50.0% {
    color: #ccc;
  }
  75.0% {
    color: red;
  }
  90.0% {
    color: #ccc;
  }
  100.0% {
    color: red;
  }
}
.notidiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.notidiv p {
  color: #c49e7d;
  text-transform: capitalize;
  font-size: 18px;
}
.bellP {
  color: #c49e7d;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
}
