.top {
  min-width: 300px;
  max-width: 600px;
  background-color: rgba(219, 156, 55, 0.803) !important;
}
.popButton {
  width: 100px;
  height: 55px;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 6px !important;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  -ms-border-radius: 6px !important;
  -o-border-radius: 6px !important;
  margin-left: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2) !important;
  text-transform: capitalize;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
}

.popButton :active {
  outline: none !important;
  box-shadow: none;
}
@media (min-width: 600px) {
  .popButton {
    height: auto;
    width: auto;
    margin-top: 3px;
    background-color: #c49e7d !important;
    border: none;
    font-size: 19px !important;
    color: papayawhip;
    font-weight: 600 !important;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: none !important;
  }
  .popButton:active {
    border: #c49e7d;
    box-shadow: 0;
    outline: none !important;
  }
  .popButton:focus {
    border: #c49e7d;
    box-shadow: 0;
  }
  .popButton:hover {
    border: #c49e7d;
  }
}
.header {
  text-transform: capitalize;
  color: #c49e7d;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700 !important;
  line-height: 1.2rem;
  text-align: center;
  background-color: papayawhip !important;
}
.body {
  font-weight: 600;
  line-height: 1.2rem;
  text-align: center;
}
.link {
  width: 100%;
  border-bottom: 1px solid papayawhip;
}

.link a {
  color: #c49e7d;
  text-transform: capitalize;
  font-size: 18px;
}
.link a:hover,
.link a:active {
  text-decoration: none;
  color: papayawhip;
}
