.first {
  display: block;
  margin: 30px auto;
  position: relative;
}
.coverGrid {
  margin-top: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.slidshow {
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.3);
}
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.navigation {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  bottom: 20px;
  left: 50%;
  justify-content: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.bar {
  width: 50px;
  height: 10px;
  border: 3px solid white;
  margin: 0 3px 0 8px;
  padding: 3px;
  cursor: pointer;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.bar:hover {
  background-color: white;
}
.slide {
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  width: 100%;
  position: relative;
}
.slide img {
  width: 100% !important;
  height: 100%;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
.slides input {
  visibility: hidden;
  position: absolute;
}
.slides {
  /* width: 400%; */
  height: 100%;
  display: flex;
}
.date {
  position: absolute;
  top: 10%;
  left: 50%;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
  font-size: 20px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: 0.6s;
  opacity: 0.5;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
/* .slides .fir:checked ~ .mat img {
  margin-left: 0;
}
.slides .sec:checked ~ .mat img {
  margin-left: -20%;
}
.slides .third:checked ~ .mat {
  margin-left: -40%;
}
.slides .forth:checked ~ .holder .mat {
  margin-left: -60%;
}
.slides .fifth:checked ~ .holder .mat {
  margin-left: -80%;
} */
@media (max-width: 600px) {
  .coverGrid {
    grid-template-columns: 1fr;
  }
  .slidshow {
    width: 330px;
    /* margin-top: 60px; */
    height: 360px;
  }
  .bar {
    width: 30px;
    height: 15px;
  }
}
