.title {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: burlywood;
  color: white;
  width: 100%;
  text-align: center;
}
.popBtn {
  background-color: peru;
  border: none !important;
  box-shadow: none !important;
}
.popBtn:hover,
.popBtn:active,
.popBtn:focus {
  background-color: peachpuff !important;
  color: rgb(194, 122, 28);
  border-color: peachpuff !important;
}
.formButton {
  width: 100%;
  display: block;
  margin: 0 auto;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: none;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
}
.formButton:active {
  background-color: rgb(194, 122, 28);
  color: white;
}
.input::placeholder {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.input {
  outline-style: none !important;
  box-shadow: none !important;
  border-color: #cccc !important;
  width: 240px !important;
  text-align: center;
}
.input::placeholder {
  color: burlywood;
}
.top {
  min-width: 300px;
}
.sent {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  color: burlywood;
}
.error {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center !important;
  padding-left: 20px !important;
  color: rgb(216, 159, 112);
  text-transform: uppercase;
}
.footer div {
  display: block;
  height: 10px;
}
.footerDiv p {
  text-align: center !important;
  margin-left: 50px !important;
}
.control {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.control input::placeholder {
  color: burlywood;
  text-align: center;
}
.room input {
  width: 465px !important;
  text-align: center;
}
.room input::placeholder {
  color: burlywood;
}
@media (max-width: 600px) {
  .room input {
    width: 450px !important;
  }
  .title {
    font-size: 18px;
  }
}
.select {
  width: 465px;
  height: 40px;
  position: relative;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: burlywood;

  /* padding: 20px auto; */
  /* margin-left: 20px; */
}
.select::after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

@media (max-width: 600px) {
  .select {
    width: 450px;
  }
}
