.coverdiv {
  display: flex;
  justify-content: center;
  flex-direction: columns;
  align-items: center;
  max-width: 800px;
  margin: 10px auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
}
