.cover {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn {
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  background-color: burlywood;
  border: 1px solid papayawhip;
  border-radius: 6px;
  color: white;
  padding: 0.5rem 1.5rem;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  width: 250px;
}

.btn:hover,
.btn:active {
  background-color: #a3af02;
  border-color: #a3af02;
}
.calendar {
  background-color: burlywood;
  color: white;
}
.cancel {
  background-color: rgb(232, 104, 104) !important;
}

.border {
  width: 244px;
  border-radius: 3px;
  height: 40px;
  font-size: 15px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.border:focus {
  outline: none;
}

.topDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.topDiv p {
  text-align: center;
  font-family: Arial;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  color: rgb(184, 142, 65);
}
.buttonDiv {
  flex-direction: row;
  display: flex;
  /* width: 100%; */
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}
.inn {
  width: 40%;
  margin: 0 20px;
}
.inn button {
  width: 115px;
  text-transform: uppercase;
}
