.sidebar {
  display: inline-block;
  position: absolute;
  bottom: 30%;
  left: 22%;
  margin: 12px;
  /* background-color: papayawhip; */
  /* color: #ffffff; */
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}
.cover {
  width: 300px !important;
  position: absolute;
  height: 100%;
}
.coverDiv {
  border: 5px solid black;
  z-index: 1 !important;
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.map {
  position: relative;
  /* top: 0; */
  bottom: 20%;
  left: 0;
  right: 0;
}
.box {
  background-color: cadetblue;
  width: 100%;
}
.comp {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;

  /* float: left; */
}
.mapcontainer {
  /* width: 200px !important; */
  height: 200px;
  /* width: 500px; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
}
.conpI {
  display: block;
  margin: 0 auto;
  width: 800px;
  display: flex;
  flex-direction: row;
  border: 3px solid burlywood;
}
