.cover {
  display: flex;
  margin: 10px auto;
  max-width: 700px;
  flex-direction: column;
}
@media (max-width: 600px) {
  .cover {
    margin: auto 25px;
  }
}
.allGrid {
  margin-top: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 900px) {
  .allGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.eventLog {
  margin-top: 150px;
}
.eventLog img {
  width: 100px;
}

@media (max-width: 600px) {
  .allGrid {
    grid-template-columns: 1fr;
  }
}
.comentsec {
  margin-top: 90px;
  /* width: auto; */
  max-width: 700px;
  min-width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hover {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  color: burlywood;
  text-transform: capitalize;
}
