.cover {
  width: 300px !important;
  position: absolute;
  height: 100%;
}
.coverDiv {
  border: 5px solid black;
  z-index: 1 !important;
  width: 660px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.btn {
  background: none;
  border: none;
  cursor: pointer;
}
.btn img {
  width: 20px;
  height: 20px;
}
.text ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: burlywood;
  text-transform: capitalize;
}
.map {
  position: relative;
  /* top: 0; */
  bottom: 20%;
  left: 0;
  right: 0;
}
.box {
  background-color: rgb(240, 236, 230);
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
}
.box img {
  width: 80px;
  height: 80px;
  margin: 10px;
  float: right;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.comp {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;

  /* float: left; */
}
.mapcontainer {
  /* width: 200px !important; */
  height: 200px;
  /* width: 500px; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* width: 100vw; */
}
.conpI {
  position: absolute;
  transform: translate(0, 210%);
  display: block;
  margin: 0 auto;
  width: 20rem !important;
  height: auto;
  display: flex;
  flex-direction: row;
  -webkit-transform: translate(0, 210%);
  -moz-transform: translate(0, 210%);
  -ms-transform: translate(0, 210%);
  -o-transform: translate(0, 210%);
}
@media (max-width: 600px) {
  .conpI {
    /* margin: 0 -33px;
    width: 90vw; */
    bottom: 130px;
  }
}

@media (min-width: 601px) {
  .conpI {
    margin: 0 -73px;
    width: 90vw;
  }
}
@media (min-width: 750px) {
  .conpI {
    margin: 0 3px;
    width: 75vw;
  }
}
@media (min-width: 950px) {
  .conpI {
    margin: 0 53px;
    width: 40vw;
  }
}
.mapCont {
  width: 300px;
}
