.cover {
  display: flex;
  margin: 10px auto;
  max-width: 700px;
  flex-direction: column;
}

@media (max-width: 600px) {
  .cover {
    margin: auto 25px;
  }
}
.allGrid {
  margin-top: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 900px) {
  .allGrid {
    grid-template-columns: 1fr 1fr;
  }
}
.eventLog {
  margin-top: 100px;
}

@media (max-width: 600px) {
  .allGrid {
    grid-template-columns: 1fr;
  }
  .comentsec {
    position: absolute;
    bottom: -10%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    left: 40%;
  }
  .cover {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  .hold {
    position: absolute;
    top: -700% !important;
    margin-bottom: 30px !important;
  }
}
.comentsec {
  /* width: auto; */
  max-width: 700px;
  min-width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hover {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  color: burlywood;
  text-transform: capitalize;
}
