.top {
  max-width: 250px;
  max-height: 200px;
  background-color: burlywood;
  cursor: pointer;
}

.inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.imgInner {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: peachpuff;
  width: 100%;
}
.imgCon {
  position: relative;
}
/* .imgCon  {
  width: 25px;
  height: 25px;
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 10px;
} */
