.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 20px;
}
/* .secTop {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
} */
.ul {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
}
