.cover {
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  width: 350px;
  flex-direction: column;
  position: relative;
}
.mainselection {
  overflow: hidden;
  width: 305px;
  padding: 11px;
  font-size: 20px;
  color: #eee;
  border: 0;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 15px;
  border-radius: 9px 9px 9px 9px;
  background: burlywood no-repeat scroll 319px center;
  border: burlywood !important;
  outline: none;
  font-weight: 600;
  text-transform: capitalize;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* .top {
  margin-top: -10px;
} */
/* @media (max-width: 650px) {
  .mainselection {
    width: 390px !important;
  }
} */
