.top {
  max-width: 250px;
  min-width: 200px;
  max-height: 200px;
  background-color: burlywood;
  cursor: pointer;
}

.inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.imgInner {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: burlywood;
  width: 100%;
}
.innerCover {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.innerCover p {
  margin-top: 6px;
  line-height: 1rem;
  font-size: 19px;
  color: papayawhip;
  padding-left: 5px;
  text-transform: capitalize;
}
.innerSec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.innerSec p {
  margin-top: 2px;
  line-height: 1.1rem;
  font-size: 12px;
  color: papayawhip;
  padding-left: 2px;
  text-transform: capitalize;
  font-family: "Poetsen One";
  font-weight: 400;
}
.imgCon {
  position: relative;
}
/* .imgCon  {
  width: 25px;
  height: 25px;
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 10px;
} */
