.headerButton {
  border: none;
  background-color: white;
  float: right;
  position: relative;
  display: block;
}
.body {
  overflow: hidden !important;
  padding: 20px 120px;
  background-color: papayawhip;
}
.head {
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: burlywood;
}
.body img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
