.cover {
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  max-width: 800;
  flex-direction: column;
  margin-top: 100px;
}

.mainselection select {
  border: 0;
  background: transparent;
  font-size: 40px;
  font-weight: 900;
  padding: 16px 18px;
  width: 378px;
  *width: 350px;
  *background: #e7ac15;
  -webkit-appearance: none;
}
.mainselection select option {
  font-size: 40px !important;
  font-weight: 900;
  padding: 16px 18px !important;
}
.mainselection {
  margin-top: 30px;
  overflow: hidden;
  width: 350px;
  min-width: 300px;
  padding: 8px;
  font-size: 20px;
  color: #eee;
  border: 0;

  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border-radius: 9px 9px 9px 9px;
  box-shadow: 1px 1px 11px #b6a295;
  background: burlywood no-repeat scroll 319px center;
}
.btn {
  margin-top: 40px;
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  background-color: burlywood;
  border: 1px solid papayawhip;
  border-radius: 6px;
  color: white;
  padding: 0.5rem 1.5rem;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
.btn:hover,
.btn:active {
  background-color: rgba(235, 162, 73, 0.6);
  border-color: rgba(235, 162, 73, 0.6);
}
.cancel {
  background-color: rgb(232, 104, 104) !important;
}
