.cover {
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  max-width: 800;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.divinputCover {
  max-width: 350px !important;
}
.mainselection select {
  border: 0;
  background: transparent;
  font-size: 40px;
  font-weight: 900;
  padding: 16px 18px;
  width: 250px;
  background: #e7ac15;
  -webkit-appearance: none;
}
.mainselection select {
  border: burlywood !important;
}
.mainselection select::content {
  border: none !important;
}
.mainselection select option {
  /* font-size: 40px !important; */
  font-weight: 900;
  padding: 16px 18px !important;
}
.mainselection {
  margin-top: 30px;
  overflow: hidden;
  width: 350px;
  min-width: 300px;
  padding: 8px;
  font-size: 20px;
  color: #eee;
  border: 0;

  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border-radius: 9px 9px 9px 9px;
  box-shadow: 1px 1px 11px #b6a295;
  background: burlywood no-repeat scroll 319px center;
}
.btn {
  margin-top: 60px;
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  background-color: burlywood;
  border: 1px solid papayawhip;
  border-radius: 6px;
  color: white;
  padding: 0.5rem 1.5rem;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  width: 200px;
}

.btn:hover,
.btn:active {
  background-color: peru;
  border-color: peru;
  text-transform: capitalize;
}

.update {
  background-color: burlywood;
  border-color: #d4dbd4;
  width: 350px;
}
