.top {
  width: 500px;
  background-color: burlywood;
  position: absolute;
  left: 200px;
  top: 0;
  z-index: 10;
}
.cover {
  width: 500px;
}
.header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.header p {
  font-size: 20px;
  padding: 5px 0 0 10px;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #fff;
}

.header .bin {
  cursor: pointer;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
.header .bin:hover {
  opacity: 0.3;
}

.inputDiv {
  position: absolute;
  width: 700px;
  height: 70px;
  bottom: 0 !important;
  background-color: burlywood;
  display: flex;
}

.inputCover {
  margin-top: 20px;
  width: 400px !important;
  margin-left: 200px;
}
.inputCover .input {
  outline: none !important;
}
.inputCover .input:focus {
  outline: none !important;
}
.input::placeholder {
  font-size: 17px;
  color: rgb(194, 188, 188);
  text-transform: capitalize;
  font-weight: 500;
}
.group {
  height: 75%;
  background-color: burlywood;
  cursor: pointer;
}
.icon {
  width: 25px;
  height: 23px;
  color: #fff;
}
.scroll {
  padding-top: 150px;
  overflow-y: scroll;
  position: relative;
  top: 0;
  height: 600px;
}
.scroll::-webkit-scrollbar {
  display: none;
}
.inner {
  width: 500px;
  position: absolute;
  left: 200px;
  height: auto;
  bottom: 35px;
}
.colorHeader {
  background-color: #ffd699;
}
.listTop {
  height: 300px;
}
.spinner {
  position: absolute;
  left: 330px;
  bottom: 250px;
}
