.top {
  width: 200px;
  height: auto;
  overflow-y: auto;
  height: 100%;
  background-color: burlywood;
}
.color {
  background-color: rgb(178, 178, 225);
  color: white;
}
.topSide {
  width: 200px;
  display: flex;
  flex-direction: column;
  height: 700px;
}
