.top {
  width: 700px;
  position: relative;
  height: 800px;
  margin: 100px auto 0 auto;
  border: 1px solid burlywood;
  /* overflow: hidden; */
}

.holder {
  width: 100%;
  position: relative;
}
.topDiv {
  z-index: 5;
  display: flex;
  padding: 5px 0;
  align-items: flex-end;
  /* justify-content: space-evenly; */
  width: 200px;
  border-bottom: 1px solid burlywood;
  height: 83px;
}
.topDiv p {
  text-align: center;
  font-size: 15px;
  padding: 5px;
  color: burlywood;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: capitalize;
}
.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffd699;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.divider {
  display: inline-flex;
  justify-content: space-between;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 10px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider.round {
  border-radius: 39px;
  -webkit-border-radius: 39px;
  -moz-border-radius: 39px;
  -ms-border-radius: 39px;
  -o-border-radius: 39px;
}

.slider.round:before {
  border-radius: 50%;
}
input:checked + .slider {
  background-color: burlywood;
}

input:focus + .slider {
  box-shadow: 0 0 1px burlywood;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* .top .tog {
  display: none;
  position: absolute;
  top: -11000px;
} */
.c {
  border: 1px solid #ffd699;
}
.topDiv .p {
  color: burlywood;
  font-size: 15px;
}
/* .topDiv > .tog:checked ~ .spanInput label {
  background-color: burlywood;
} */
