.top {
  width: 90%;
  height: 100%;
  display: block;
  margin: 100px auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
@media (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
