.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 186, 115, 0.16);
  width: 100px;
  height: 100px;
  border: 5px solid burlywood;
  margin: 10px 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  animation-name: blink;
  animation-timing-function: ease;
  animation-duration: 1s;
  animation-iteration-count: 20;
}
.inactive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #888888;
  width: 100px;
  height: 100px;
  border: 5px solid burlywood;
  margin: 10px 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  filter: grayscale(80%) sepia(40%);
  -webkit-filter: grayscale(80%) sepia(40%);
}
.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pi {
  color: burlywood;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.7;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.5;
  }
}

@media (max-width: 650px) {
  .cover,
  .inactive {
    width: 90px !important;
    height: 90px;
  }
}
