.title {
  color: burlywood;
  text-align: center;

  width: 100%;
}
.top {
  width: 100%;
  background-color: rgba(250, 235, 215, 0.242);
  /* opacity: 0.8; */
  font-family: Georgia, "Times New Roman", Times, serif;
}
.bodyDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}
.bodyDiv p {
  color: burlywood;
  /* text-transform: capitalize; */
}
.closeBtn {
  width: 100%;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: none;
  background-color: peru;
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.closeBtn:hover {
  background-color: rgb(180, 135, 63);
}
