.cover {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 1px solid rgb(216, 199, 175);
  transform: translate(-50%, 15%);
  left: 50%;
  -webkit-transform: translate(-50%, 15%);
  -moz-transform: translate(-50%, 15%);
  -ms-transform: translate(-50%, 15%);
  -o-transform: translate(-50%, 15%);
  height: 70vh;
  background-color: #fff5e6;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.btn {
  color: white;
  position: absolute;
  left: 10px;
  top: 10px;
  border: none;
  text-align: center;
  background-color: peru;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-transform: capitalize;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  margin: 0;
  padding: 5px;
}
.btn:hover {
  box-shadow: 1xp 1px 1px 1px rgba(205, 134, 63, 0.358);
  background-color: rgb(216, 199, 175);
  color: black;
}
.top {
  position: relative;
}
.form {
  height: 4vh;
  position: fixed;
  bottom: 0;
  width: 85%;
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.5rem;
  left: 0;
}
.input {
  line-height: 1.3rem;
  width: 100%;
  font-size: 1.5rem;
  color: white;
  background-color: #dac6a9;
  outline: none;
  border: none;
  padding: 0 10px;
}

.button {
  background-color: peru; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.formInput {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.imgHolder {
  width: 15%;
  background-color: #ffd699;
  position: fixed;
  bottom: 0;
  height: 4vh;
  font-size: 1.13rem;
  color: burlywood;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
}
.imgHolder img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.imgHolder p {
  margin-top: 15px;
  color: white;
}
.msgHolder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  /* position: absolute; */
  width: 100%;
  overflow-y: auto;
  border: none !important ;
}
@media (max-width: 650px) {
  .cover {
    margin-top: 90px;
  }
}
