.top {
  max-width: 700px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selectDiv select {
  width: 465px;
  height: 40px;
  position: relative;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: burlywood;
  text-transform: uppercase;
}
.selectDiv select::after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
.input input {
  width: 330px;
}
.input input::placeholder {
  color: burlywood;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.btn {
  width: 100%;
  border: none;
  background-color: burlywood;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-top: 10px;
}
.btn:hover {
  background-color: peru;
}
.xcircle {
  position: absolute;
  /* padding-top: 10px; */
  top: 5px;
  right: -35px;
  cursor: pointer;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  gap: 30px;
  transform: translate(-50%, 10%);
  -webkit-transform: translate(-50%, 10%);
  -moz-transform: translate(-50%, 10%);
  -ms-transform: translate(-50%, 10%);
  -o-transform: translate(-50%, 10%);
}
.holder {
  position: relative;
}
.error {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgba(196, 28, 28, 0.317);
  font-size: 18px;
  text-transform: capitalize;
}
@media (max-width: 650px) {
  .inp {
    width: 330px;
  }
  .selectDiv select {
    width: 330px !important;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
