.btn {
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  background-color: #e2df2f;
  border: 1px solid papayawhip;
  border-radius: 6px;
  color: white;
  padding: 0.5rem 1.5rem;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.btn:hover,
.btn:active {
  background-color: peru;
  border-color: peru;
}

.update {
  background-color: burlywood;
  border-color: #d4dbd4;
  width: 350px;
}
.divContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.holder {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.divContainer p {
  color: burlywood;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.container {
  background-color: burlywood;
  width: 350px;
  height: 53px;
  /* padding: 6px; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 9px 9px 16px rgba(193, 198, 163, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.7);
  margin-bottom: 50px;
}

.container:hover {
  box-shadow: inset 9px 9px 16px peru,
    inset -9px -9px 16px rgba(205, 134, 63, 0.16);
}
.container textarea {
  padding: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: burlywood;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}
.container textarea:focus {
  outline: none;
}
.container input {
  width: 350px;
  height: 33px;
  padding: 8px;
  border-radius: 5px;
  border: 0px;
  font-size: 15px;
  text-transform: capitalize;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  text-transform: lowercase;
}
.container input::placeholder {
  color: burlywood;
  text-transform: capitalize;
}
.container input:hover {
  transform: scale(1.05, 1.05);
}
.container textarea:hover {
  transform: scale(1.05, 1.05);
}
.container input:focus {
  color: #151515;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  outline: none;
}
