.divlayer img {
  filter: sepia(100%);
  border-radius: 5px;
}

.divImage img {
  border-radius: 5px;
  margin-top: 50px;
}
.divImage span {
  width: 100%;
}
.title {
  font-size: 16px;
  color: burlywood;
  text-transform: capitalize;
  text-align: center;
  font-weight: 600;
}

.setcategories {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50%;
  top: 150px;
  transform: translate(-50%, -50%);
  font-size: 20px;
  text-transform: capitalize;
}
.setcategories p {
  color: burlywood;
}
.innerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 100px;
}

@media (max-width: 900px) {
  .innerGrid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 650px) {
  .innerGrid {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
