.spinner {
  height: 50px;
  width: 50px;
  margin: 20px auto;
  border-radius: 50%;
  border: dashed 3px #e8be34;
  animation-name: loader-spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
