.top {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin-left: 10px;
  align-items: center;
  height: 30px;
  position: absolute;
  left: 0;
}
.top img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
}
@media (max-width: 650px) {
  .top img {
    height: 25px;
    width: 25px;
  }
}
