.top {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin-left: 10px;
  align-items: center;
  /* position: absolute; */
}
.top img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 10px;
}
.top div h5 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-left: 10px;
  font-size: 27px;
  font-weight: 600;
  line-height: 1.2rem;
  display: block;
  color: #ffffff;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
