.btn {
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  background-color: rgb(206, 181, 141);
  border: 1px solid papayawhip;
  border-radius: 6px;
  color: white;
  padding: 0.5rem 0.5rem;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  width: 250px;
  transition: all 0.2;
  -webkit-transition: all 0.2;
  -moz-transition: all 0.2;
  -ms-transition: all 0.2;
  -o-transition: all 0.2;
}
.btn a {
  list-style-type: none;
  text-decoration: none;
}
.btn:hover,
.btn:active {
  background-color: rgba(206, 181, 141, 0.5);
  border-color: rgba(206, 181, 141, 0.5);
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  text-decoration: none;
  color: white;
}
/* .btn::after {
  content: "";
  display: inline-block;
  width: 90%;
  height: 90%;
  border-radius: 100px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  background-color: rgba(206, 181, 141, 0.5);
} */
.bttb {
  position: relative;
}
.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.7);
  -webkit-transform: scaleX(1.5) scaleY(1.7);
  -moz-transform: scaleX(1.5) scaleY(1.7);
  -ms-transform: scaleX(1.5) scaleY(1.7);
  -o-transform: scaleX(1.5) scaleY(1.7);
  opacity: 0;
}
.dispNone {
  display: none;
}

@media (max-width: 850px) {
  .btn {
    width: 180px;
    padding: 5px 0;
  }
}

@media (max-width: 650px) {
  .btn {
    width: 120px;
    padding: 5px 0;
  }
}
