.btn {
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  background-color: rgb(206, 181, 141);
  border: 1px solid papayawhip;
  border-radius: 6px;
  color: white;
  padding: 0.5rem 1.5rem;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  width: 300px;
  transition: all 0.2;
  -webkit-transition: all 0.2;
  -moz-transition: all 0.2;
  -ms-transition: all 0.2;
  -o-transition: all 0.2;
}
.btn a {
  list-style-type: none;
  text-decoration: none;
}
.btn:hover,
.btn:active {
  background-color: #a3af02;
  border-color: #a3af02;
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
}

.dispNone {
  display: none;
}
