@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

/* @font-face {
  font-family: "PoetsenOne";
  src: url("/fonts/PoetseOne-Regular.ttf") format("truetype");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "PoetsenOne";
  src: url("/fonts/PoetseOne-large.ttf") format("truetype");
  font-style: large;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "PoetsenOne";
  src: url("/fonts/PoetseOne-small.ttf") format("truetype");
  font-style: small;
  font-weight: 400;
  font-display: swap;
} */
@font-face {
  font-family: "Poetsen One";
  src: url("/fonts/PoetsenOne-Regular.woff2") format("woff2"),
    url("/fonts/PoetsenOne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poetsen small";
  src: url("/fonts/PoetsenOne-small.woff2") format("woff2"),
    url("/fonts/PoetsenOne-small.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif !important;
  color: #414141;
  background-color: papayawhip !important;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  /* font-family: Arial, Helvetica, sans-serif; */
  color: #2b2b2b;
  font-family: inherit;
}
ul li a {
  list-style-type: none;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
li {
  list-style-type: none;
  text-decoration: none;
}
.center {
  margin: auto;
  text-align: center;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: papayawhip;
}
